# **Loading the data:**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [3]:
data_path = '/content/drive/MyDrive/Data Science/Project 2/Project 2 Team 3/data/'
df = pd.read_csv(data_path + 'SBAnational.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# **Cleaning:**

In [ ]:
df.head(20)

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,...,N,Y,NaN,28-Feb-99,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$48,000.00"
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,...,N,Y,NaN,31-May-97,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,...,N,N,NaN,31-Dec-97,"$287,000.00",$0.00,P I F,$0.00,"$287,000.00","$215,250.00"
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,...,N,Y,NaN,30-Jun-97,"$35,000.00",$0.00,P I F,$0.00,"$35,000.00","$28,000.00"
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,...,N,N,NaN,14-May-97,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00"
5,1000084002,"B&T SCREW MACHINE COMPANY, INC",PLAINVILLE,CT,6062,"TD BANK, NATIONAL ASSOCIATION",DE,332721,28-Feb-97,1997,...,N,N,NaN,30-Jun-97,"$517,000.00",$0.00,P I F,$0.00,"$517,000.00","$387,750.00"
6,1000093009,MIDDLE ATLANTIC SPORTS CO INC,UNION,NJ,7083,WELLS FARGO BANK NATL ASSOC,SD,0,2-Jun-80,1980,...,N,N,24-Jun-91,22-Jul-80,"$600,000.00",$0.00,CHGOFF,"$208,959.00","$600,000.00","$499,998.00"
7,1000094005,WEAVER PRODUCTS,SUMMERFIELD,FL,34491,REGIONS BANK,AL,811118,28-Feb-97,1997,...,N,Y,NaN,30-Jun-98,"$45,000.00",$0.00,P I F,$0.00,"$45,000.00","$36,000.00"
8,1000104006,TURTLE BEACH INN,PORT SAINT JOE,FL,32456,CENTENNIAL BANK,FL,721310,28-Feb-97,1997,...,N,N,NaN,31-Jul-97,"$305,000.00",$0.00,P I F,$0.00,"$305,000.00","$228,750.00"
9,1000124001,INTEXT BUILDING SYS LLC,GLASTONBURY,CT,6073,WEBSTER BANK NATL ASSOC,CT,0,28-Feb-97,1997,...,N,Y,NaN,30-Apr-97,"$70,000.00",$0.00,P I F,$0.00,"$70,000.00","$56,000.00"
10,1000134004,COMMERCIAL TRUCKING MAINTENANC,CHARLOTTE,NC,28256,SUNTRUST BANK,GA,811111,28-Feb-97,1997,...,N,Y,NaN,23-Feb-98,"$70,000.00",$0.00,P I F,$0.00,"$70,000.00","$56,000.00"
11,1000144007,PROFESSIONAL ELEVATOR SERVICES,CHICAGO,IL,60605,BANK OF AMERICA NATL ASSOC,OR,235950,28-Feb-97,1997,...,N,N,NaN,30-Nov-97,"$150,000.00",$0.00,P I F,$0.00,"$300,000.00","$225,000.00"
12,1000146010,CARVEL,APEX,NC,27502,STEARNS BK NATL ASSOC,MN,445299,7-Feb-06,2006,...,N,N,NaN,31-Mar-06,"$253,400.00",$0.00,P I F,$0.00,"$253,400.00","$190,050.00"
13,1000154010,"ORCHARD CAFE & BAKERY, INC.",SLATERSVILLE,RI,2876,CITIZENS BANK NATL ASSOC,RI,0,28-Feb-97,1997,...,N,N,NaN,31-May-97,"$370,000.00",$0.00,P I F,$0.00,"$370,000.00","$277,500.00"
14,1000214004,EBC INVESTMENTS LLC,WINSTON-SALEM,NC,27106,NORTHWEST PIEDMONT DEVEL CORPO,NC,0,28-Feb-97,1997,...,N,N,NaN,17-Dec-97,"$225,000.00",$0.00,P I F,$0.00,"$225,000.00","$225,000.00"
15,1000244002,"ENVIRONMENTAL ROOFING SYSTEMS,",OKLAHOMA CITY,OK,73112,BANK OF AMERICA NATL ASSOC,NC,421330,28-Feb-97,1997,...,N,N,NaN,30-Sep-97,"$350,000.00",$0.00,P I F,$0.00,"$350,000.00","$262,500.00"
16,1000254005,ARK MAMAGEMENT ENTERPRISES INC,MIDLAND,TX,79701,WELLS FARGO BANK NATL ASSOC,TX,0,28-Feb-97,1997,...,N,Y,NaN,30-Jun-97,"$70,000.00",$0.00,P I F,$0.00,"$70,000.00","$56,000.00"
17,1000264008,"FAIRFAX COURT SUBWAY, INC.",CENTREVILLE,VA,20120,BANK OF AMERICA NATL ASSOC,MD,0,28-Feb-97,1997,...,N,Y,NaN,31-Jul-97,"$100,000.00",$0.00,P I F,$0.00,"$100,000.00","$80,000.00"
18,1000284003,FANTASTIC SAMS,PLANO,TX,75093,NEWTEK SMALL BUS. FINANCE INC.,NY,0,28-Feb-97,1997,...,N,Y,NaN,31-May-97,"$57,500.00",$0.00,P I F,$0.00,"$57,500.00","$46,000.00"
19,1000294006,SIR GOONY'S GOLF,KNOXVILLE,TN,37922,CITIZENS NATIONAL BANK,TN,0,28-Feb-97,1997,...,N,Y,NaN,31-May-98,"$50,000.00",$0.00,P I F,$0.00,"$50,000.00","$40,000.00"

In [ ]:
df = df.rename(columns={'LoanNr_ChkDgt':'ID'})

In [ ]:
df = df.drop(['BalanceGross'], axis=1)

In [ ]:
df['DisbursementGross'] = df['DisbursementGross'].str.replace('$','')

<ipython-input-17-3109f9f0d6e5>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['DisbursementGross'] = df['DisbursementGross'].str.replace('$','')

In [ ]:
df['DisbursementGross'] = df['DisbursementGross'].str.replace(',','')

In [ ]:
df['DisbursementGross'] = df['DisbursementGross'].str.strip()

In [ ]:
df['DisbursementGross'] = pd.to_numeric(df['DisbursementGross'])

In [ ]:
df['GrAppv'] = df['GrAppv'].str.replace('$','')

<ipython-input-21-6ee749f9bc79>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['GrAppv'] = df['GrAppv'].str.replace('$','')

In [ ]:
df['GrAppv'] = df['GrAppv'].str.replace(',','')

In [ ]:
df['GrAppv'] = df['GrAppv'].str.strip()

In [ ]:
df['GrAppv'] = pd.to_numeric(df['GrAppv'])

In [ ]:
df['SBA_Appv'] = df['SBA_Appv'].str.replace('$','')

<ipython-input-25-23751f204a85>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['SBA_Appv'] = df['SBA_Appv'].str.replace('$','')

In [ ]:
df['SBA_Appv'] = df['SBA_Appv'].str.replace(',','')

In [ ]:
df['SBA_Appv'] = df['SBA_Appv'].str.strip()

In [ ]:
df['SBA_Appv'] = pd.to_numeric(df['SBA_Appv'])

In [ ]:
df.isnull().sum() / len(df) * 100

ID                    0.000000
Name                  0.001557
City                  0.003336
State                 0.001557
Zip                   0.000000
Bank                  0.173383
BankState             0.174162
NAICS                 0.000000
ApprovalDate          0.000000
ApprovalFY            0.000000
Term                  0.000000
NoEmp                 0.000000
NewExist              0.015125
CreateJob             0.000000
RetainedJob           0.000000
FranchiseCode         0.000000
UrbanRural            0.000000
RevLineCr             0.503579
LowDoc                0.287156
ChgOffDate           81.905526
DisbursementDate      0.263356
DisbursementGross     0.000000
MIS_Status            0.222095
ChgOffPrinGr          0.000000
GrAppv                0.000000
SBA_Appv              0.000000
dtype: float64

In [ ]:
df.dtypes

ID                     int64
Name                  object
City                  object
State                 object
Zip                    int64
Bank                  object
BankState             object
NAICS                  int64
ApprovalDate          object
ApprovalFY            object
Term                   int64
NoEmp                  int64
NewExist             float64
CreateJob              int64
RetainedJob            int64
FranchiseCode          int64
UrbanRural             int64
RevLineCr             object
LowDoc                object
ChgOffDate            object
DisbursementDate      object
DisbursementGross    float64
MIS_Status            object
ChgOffPrinGr          object
GrAppv               float64
SBA_Appv             float64
dtype: object

In [ ]:
df.corr()

,ID,Zip,NAICS,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,DisbursementGross,GrAppv,SBA_Appv
ID,1.000000,0.027956,-0.060822,0.099793,0.009032,-0.040024,-0.022095,-0.023463,0.046296,-0.148337,0.057165,0.068952,0.077252
Zip,0.027956,1.000000,-0.034026,0.146074,0.014157,-0.038853,0.003632,0.003674,0.011398,-0.072798,0.092365,0.099452,0.105817
NAICS,-0.060822,-0.034026,1.000000,-0.111024,-0.038237,0.047053,-0.039376,-0.036587,0.027800,0.436724,-0.047576,-0.056521,-0.063106
Term,0.099793,0.146074,-0.111024,1.000000,0.046140,-0.073100,0.027581,0.024931,0.028940,-0.204080,0.466391,0.502610,0.524912
NoEmp,0.009032,0.014157,-0.038237,0.046140,1.000000,-0.040222,0.008626,0.015350,0.006376,-0.041824,0.088651,0.090430,0.092566
NewExist,-0.040024,-0.038853,0.047053,-0.073100,-0.040222,1.000000,-0.002130,-0.009128,0.124152,0.031701,-0.074405,-0.066506,-0.063976
CreateJob,-0.022095,0.003632,-0.039376,0.027581,0.008626,-0.002130,1.000000,0.993953,0.001038,-0.029924,0.006955,0.008182,0.013749
RetainedJob,-0.023463,0.003674,-0.036587,0.024931,0.015350,-0.009128,0.993953,1.000000,-0.000515,-0.024851,0.010274,0.010693,0.014891
FranchiseCode,0.046296,0.011398,0.027800,0.028940,0.006376,0.124152,0.001038,-0.000515,1.000000,-0.003776,0.059574,0.067896,0.069442
UrbanRural,-0.148337,-0.072798,0.436724,-0.204080,-0.041824,0.031701,-0.029924,-0.024851,-0.003776,1.000000,-0.035031,-0.058882,-0.070754
DisbursementGross,0.057165,0.092365,-0.047576,0.466391,0.088651,-0.074405,0.006955,0.010274,0.059574,-0.035031,1.000000,0.971242,0.940134
GrAppv,0.068952,0.099452,-0.056521,0.502610,0.090430,-0.066506,0.008182,0.010693,0.067896,-0.058882,0.971242,1.000000,0.974360
SBA_Appv,0.077252,0.105817,-0.063106,0.524912,0.092566,-0.063976,0.013749,0.014891,0.069442,-0.070754,0.940134,0.974360,1.000000

In [ ]:
sector_df = pd.read_csv(data_path+'')

In [ ]:
import datetime
current_time = str(datetime.datetime.now())
current_time = current_time.replace(':', '-')
current_time = current_time.replace('.', '-')
current_time

'2023-02-14 01-12-57-650215'

In [ ]:
#writing cleaned dataframe to csv
df.to_csv(data_path + 'cleaned_data' + current_time +'.csv', encoding='utf-8', index=False)